@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');


/*var*/
:root{
    --azul-escuro: #2b1055;
    --azul-claro:  #7597de;
    --azul-maisescuro: #1c0522;
    --branco: #fff;
}


/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style:none;
    text-decoration: none;
}




body{
    min-height: 100vh;
    background:linear-gradient(var(--azul-escuro), var(--azul-claro));
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo{
    color: var(--branco);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    margin-left: 20px;
}

header ul li a{
    padding: 6px 15px;
    color: var(--branco);
    border-radius: 20px;
}

header ul li a:hover, .active{
    background-color: var(--branco);
    color: var(--azul-escuro);
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--azul-escuro), transparent);
    z-index: 1000;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon{
    mix-blend-mode: screen;
}

section img#mountains_front{
    z-index: 10;
}

#texto{
    position: absolute;
    right: -350px;
    color:var(--branco);
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    
}

#btn{
    padding: 8px 30px;
    border-radius: 40px;
    background: var(--branco);
    color: var(--azul-escuro);
    font-size: 1.5em;
    display: inline-block;
    z-index: 9;
    transform: translateY(100px);
}

.sec {
    position: relative;
    padding: 100px;
    background: var(--azul-escuro);
}

.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: var(--branco);
    text-align: center;
}

.sec p{
    font-size: 1em;
    color: var(--branco);
    text-align: justify;
}

body::-webkit-scrollbar {
    width: 0.8em;
    opacity: 1;
}


body::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background-color: darkgray;
}

body::-webkit-scrollbar-thumb:hover {
    background: gray;
  }

footer{
    width: 100%;
    height: 15em;
    background-color: var(--azul-maisescuro);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#container{
    background-color: bisque;
    
}

.list{
    background-color: #fff;
    height: 5em;
    width: 5em;
    float: right;
    margin: 10px;
}